.logo  {
    height: 80px;
    width: 80px;
    background-color: rgba(172, 170, 171, 0);
    background-image: url(https://img1.picmix.com/output/stamp/normal/5/9/8/6/2726895_1871a.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-header {
    display: flex;
    background-color: #1d3aad;
    justify-content: space-between;
    align-items: center;
}

